.choose-our-program-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 40px 20px;
  background: #154394;
  direction: rtl;
  margin-top: 85px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .choose-our-program-section {
    padding: 50px 20px 20px 20px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.choose-our-program-section .choose-our-program-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .choose-our-program-section .choose-our-program-content {
    padding: 0;
  }
}

.choose-our-program-section .choose-our-program-content > div {
  flex: 1;
  padding: 20px;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-first-part {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: start;
  z-index: 1;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-first-part
  h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
  text-align: start;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-first-part
  .choose-our-program-description {
  font-size: 1.2rem;
  width: 77%;
  color: #fff;
  text-align: start;
}

@media (max-width: 768px) {
  .choose-our-program-section
    .choose-our-program-content
    .choose-our-program-first-part {
    align-items: center;
    text-align: center;
  }
  .choose-our-program-section
    .choose-our-program-content
    .choose-our-program-first-part
    h1 {
    font-size: 2rem;
  }
  .choose-our-program-section
    .choose-our-program-content
    .choose-our-program-first-part
    .choose-our-program-description {
    width: 100%;
  }
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-first-part
  h1
  span:nth-child(2) {
  font-size: 2.5rem;
  color: #02b34f;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-second-part {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gad detweens rows */
  gap: 40px 0;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-second-part
  .choose-our-program-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: #fff;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 200px;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-second-part
  .choose-our-program-card
  .choose-our-program-card-shape {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-second-part
  .choose-our-program-card
  .choose-our-program-card-image {
  z-index: 2;
}

.choose-our-program-second-part .choose-our-program-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-second-part
  .choose-our-program-card
  .choose-our-program-card-image {
  transition: all 0.5s ease-in-out;
}

.choose-our-program-section
  .choose-our-program-content
  .choose-our-program-second-part
  .choose-our-program-card
  .choose-our-program-card-content:hover {
  transform: scale(1.1) translateY(-20px);
  transition: all 0.5s ease-in-out;
  z-index: 13;
}
